.course-container{
    // border-collapse: separate; 
    // border-spacing: 0rem 0.8rem;
    overflow-x: scroll !important;
    max-width: 100vw !important;
    row-gap: 0.8rem;
    .header{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.2px;
        // padding: 0rem 0.3rem !important;
        color: rgb(17, 50, 240);
        border-radius: 10px;
    }
    .course-details{
        background-color: white;
        border-radius: 10px;
        min-width: 450px !important;

        .course{
            background-color: white;
            border-radius: 10px;
            span{
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.001em;
                font-family: 'Roboto Slab';
                // display: flex;
                // justify-content: center;
                // align-items: center ;
                // vertical-align: middle;
                color: #404040;
                border: none;
                // padding: 0rem 0.3rem !important;
                white-space: nowrap;
                padding-top: 7px !important;
                padding-bottom: 7px !important;
                .fab-button{
                    box-shadow: none;
                    width: 40px;
                    height: 40px;
                    pointer-events: none;
                }
            }
            .not_completed{
                text-transform: capitalize;
                background-color: rgba(254, 246, 233, 1);
                color: rgba(244, 161, 37, 1);
                svg{
                    color: rgba(244, 161, 37, 1);
                }
            }
            .completed{
                text-transform: capitalize;
                background-color: rgba(239, 248, 241, 1);
                color: rgba(45, 188, 83, 1);
                svg{
                    color: rgba(45, 188, 83, 1);
                }
            }
        }
        .course-description{
            p{
                font-family: 'Mulish';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: #858585;
            }
            h5{
                font-size: 16px;
            }
            .rating-container{
                max-height: 350px;
                overflow-y: scroll;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: #858585;
                &::-webkit-scrollbar{
                    display: block !important;
                }
            }
            div{
                column-gap: 0.7rem;
                row-gap: 0.7rem;
                .delete-btn{
                    background-color: #FFE2E3 !important;
                    font-family: "Mulish" !important;
                    font-style: normal !important;
                    font-weight: normal !important;
                    font-size: 12px;
                    color: #FF0000 !important;

                    &:hover{
                        background-color: #FFE2E3 !important;
                    }
                }
                // .mark-completed-btn{
                //     background-color: lightgreen !important;
                //     font-family: "Mulish" !important;
                //     font-style: normal !important;
                //     font-weight: normal !important;
                //     font-size: 12px;
                //     color: white !important;

                //     &:hover{
                //         background-color: lightgreen !important;
                //     }
                // }
                button{
                    font-family: "Mulish" !important;
                    font-style: normal !important;
                    font-weight: normal !important;
                    font-size: 12px;
                }
            }
        }
    }
    
}

.operation-dialog{
    background: rgba( 13, 2, 19, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    .dialog-title > h2{
        font-family: 'Roboto Slab';
        font-weight: 800;
        font-size: 30px;
    }
    input,label,Button{
        font-family: "Roboto Slab";
    }

}